{% extends "blog/layout.njk" %}

{% block content %}
    
<div class="introduction">
    <div class="info__introduction">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.</p>
    </div>
    <div class="info__image">
        <img class="image-content" src="/assets/woman-sitting-laptop.svg" alt="">
    </div>
</div>

<div class="accessed-content">
    <h1>Mais Acessadas</h1>
</div>

<section class="cards">
    <div class="card">
        <div class="card__image-container">
            <img src="/assets/image1.jpg" alt="">
        </div>

        <div class="card__title">
            <p>De todo o coração</p>
        </div>

        <div class="card__author">
            <p>Lição Jovem</p>
        </div>
    </div>

    <div class="card">
        <div class="card__image-container">
            <img src="/assets/image2.jpg" alt="">
        </div>

        <div class="card__title">
            <p>De todo o coração</p>
        </div>

        <div class="card__author">
            <p>Lição Jovem</p>
        </div>
    </div>

    <div class="card">
        <div class="card__image-container">
            <img src="/assets/image3.jpg" alt="">
        </div>

        <div class="card__title">
            <p>De todo o coração</p>
        </div>

        <div class="card__author">
            <p>Lição Jovem</p>
        </div>
    </div>

    <div class="card">
        <div class="card__image-container">
            <img src="/assets/image4.jpg" alt="">
        </div>

        <div class="card__title">
            <p>De todo o coração</p>
        </div>

        <div class="card__author">
            <p>Lição Jovem</p>
        </div>
    </div>

    <div class="card">
        <div class="card__image-container">
            <img src="/assets/image5.jpg" alt="">
        </div>

        <div class="card__title">
            <p>De todo o coração</p>
        </div>

        <div class="card__author">
            <p>Lição Jovem</p>
        </div>
    </div>

    <div class="card">
        <div class="card__image-container">
            <img src="/assets/image6.jpg" alt="">
        </div>

        <div class="card__title">
            <p>De todo o coração</p>
        </div>

        <div class="card__author">
            <p>Lição Jovem</p>
        </div>
    </div>
</section>

{% endblock content%}